<%# 
  Display slots for an experiment
  render :partial => "slots/slot_table", 
         :locals => {:slots => @slots_in_experiment}
-%>
<% num_filled = 0 
   num_subjects = 0
   for slot in slots
	num_filled += 1 if slot.filled?
    num_subjects += slot.subjects.count
   end
%>
<%= slots.length %> slots<br />
<%= num_subjects %> participants<br />
<%= num_filled %> completely filled<br />
<table>
<thead>
	
</thead>
<tbody>
<% slots.each do |slot| %>
  <tr>
  	<td><% if slot.cancelled %><s><%= slot.human_datetime %></s><% else %><%= slot.human_datetime %><%end%></td>
	<td><% if slot.expired? and slot.empty? %>
			<span class="expired">EXPIRED</span>
		<% else %>
			<% unless slot.empty? %>
			<span class="title"><%= slot.subjects.count %></span> subjects
			<% else %>
			<span class="open">OPEN</span>
			<% end %>
		<% end %>
	</td>
    <td><%= link_to 'Show', slot %></td>
    <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
    <td><%= link_to 'Destroy', slot, :confirm => 'Are you sure?', :method => :delete %></td>
  	<td><% if slot.cancelled %><div class="cancelled">CANCELLED</div>
		<% else %><%# = link_to 'Cancel', cancel_slot_path(slot), :confirm => 'Are you sure?' %><%end%></td>
  
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to "Add a slot", :controller => :slots, :action => :new, :id=>experiment.hashed_id%>
	