<h1>Editing slot</h1>

<% form_for(@slot) do |f| %>
  <%= f.error_messages %>
	<%= f.calendar_date_select :time, :embedded => true %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @slot %> |
<%= link_to 'Back', slots_path %>