<h1>Open slots</h1>
<%= @filled_slots %> of <%= @slots.length %> filled<br />
<table>
  <tr>
  </tr>

<% @slots.each do |slot| %>
  <tr>
  	<td><% if slot.cancelled %><s><%= slot.human_time %></s><% else %><%= slot.human_time %><%end%></td>
	<td><% unless slot.subject.nil? %>
		<%= slot.subject.name %>
		<% else %>
		<b style="color:#22EE22">OPEN</b>
		<% end %>
	</td>
    <td><%= link_to 'Show', slot %></td>
    <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
    <td><%= link_to 'Destroy', slot, :confirm => 'Are you sure?', :method => :delete %></td>
  	<td><%= link_to 'Cancel', slot, :confirm => 'Are you sure?', :method => :cancel %></td>
  
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New slot', new_slot_path %>