<%= calendar_date_select :slot, :time %>
<% unless !@slot.occupied? %>
<h2>Subjects</h2>
<% @slot.subjects.each do |subject| %>
<%= subject.name %><br/>
<a href="mailto:<%= subject.email %>" ><%= subject.email %></a><br />
<a href="callto:+1<%= subject.phone_number %>"><%= number_to_phone(subject.phone_number) %></a><br /><br />
<% end %>
<% end %>
<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', @slot.experiment %>