<div class="content" >
<h1>Privilege List</h1>
<%= link_to("Add Privilege", { :action => "new" })%>
<table>
    <thead>
        <tr>
            <%= render :partial => "helpers/table_header", :locals => {:name => "ID", :key_name => "id", :flip => false }%>
            <%= render :partial => "helpers/table_header", :locals => {:name => "Username", :key_name => "user.login", :flip => false }%>
		    <%= render :partial => "helpers/table_header", :locals => {:name => "Role", :key_name => "role.name", :flip => false }%>
		    <%= render :partial => "helpers/table_header", :locals => {:name => "Created", :key_name => "created_at", :flip => false }%>
		    <%= render :partial => "helpers/table_header", :locals => {:name => "Updated", :key_name => "updated_at", :flip => false }%>
            <%= render :partial => "helpers/table_header", :locals => {:name => "Modified by", :key_name => "modified_by_user.login", :flip => false }%>

        </td>    
    </thead>
<% @privileges.each do |privilege| %>
    <tr >
        <td><a href="/privileges/<%= privilege.hashed_id %>" ><%= privilege.id%></a></td>
        <td><%= privilege.user.user_name %></td>
        <td><%= privilege.role.name %></td>
        <td><%= privilege.created_at %></td>
        <td><%= privilege.updated_at %></td>
        <td><%= privilege.modified_by_user.user_name %></td>
   </tr>
<%end%>
</table>
</div>