<div class="content" >
<h1>New Privilege</h1>
<a href="/privilege/list" ><h3>&laquo; Privelege List</h3></a>
<br />
<%= flash[:notice] %>
<%= error_messages_for :user, :privilege, :role %><br />
<% form_for :privilege, @privilege, :url => { :action => "create" } do |f| %>
<p>
<b>User:</b> <%= f.collection_select(:user_id, @users, :id, :login) %><br /> <br />
<b>Role:</b> <%= f.collection_select(:role_id, @roles, :id, :name) %>

<br /> <br /><br />

<%= submit_tag("Create &raquo;") %>
<% end %>
</div>
