<div class="content" >
<h1>Privilege #<%= @privilege.id %></h1>
<a href="/privilege/list" ><h3>&laquo; Privelege List</h3></a>
<br />
<p>
<b>User</b> <%= @privilege.user.login %> <br />
<b>Role</b> <%= @privilege.role.name %> <br />
</p>
<br />
<p>
    <b>Created At:</b> <%= @privilege.created_at %> <br />
    <b>Updated At:</b> <%= @privilege.updated_at %> <br />
    <b>Last Modified By:</b> <%= @privilege.modified_by_user.login %>
</p>
<br/>
<%= link_to("Delete Privilege", { :action => "destroy", :id => @privilege },
  :confirm => "Are you sure you want to delete this privilege",
  :method => :delete)
%>


</div>
