<div id="login_page">
	<div id="content" >
		<div id="main">
<% if @user_not_found %>
<h1>Invalid Request</h1>
<p>Your request to change your password may be invalid or outdated, please make a <%= link_to "new request to change your password.", :controller=>:users, :action=>:reset %>
</p>
<% else %>
<h1>Change your password</h1>

<%= error_messages_for :user %>
    
<%= form_tag submit_reset_password_users_path, :method => :put, :class => "box", :id => "reset_form" -%>
<%= request_forgery_protection_tag %>
<%= hidden_field_tag :recover_in_process_code, @recover_in_process_code %>
<%= hidden_field_tag :email, @email %>
<div id="login" style="width:320px">
<label for="login">Your Login </label>
<%= text_field_tag :login %><br />

<label for="password">New Password </label>
<%= password_field_tag :password %><br />

<label for="password_confirmation">Confirm Password </label>
<%= password_field_tag :password_confirmation %><br />

<p><%= submit_tag "Change Password", :disable_with => "Please wait..." %></p>		
    
<% end %>
<br style="clear:both;" />
			</div>

		</div>    
	</div>
</div>
