<h1>Reset your password</h1>

			<div id="login">
			<%= form_tag send_reset_users_path, :method => :put, :class=>"box", :id=>"reset_user"%>
				<%= request_forgery_protection_tag %>
				<label for="login">Login </label><%= text_field_tag :login %><br /><br />

				<label for="email">Email </label><%= text_field_tag :email %><br /><br />

				<p><%= submit_tag "Reset", :disable_with => "Please wait..." %></p>		
				</form>
				<br style="clear:both;" />
			</div>
