<div id="content">
<h1>User: <%= @user.login %></h1><%= link_to "Edit", :action=>:edit, :id=>@user.hashed_id %> &nbsp; <%= link_to "Deactivate", {:action=>:destroy, :id=>@user.id}, :confirm=> 'Are you sure you want to deactivate this user?' %><br />
<% if @user.deactivated? %>
<h2>Deactivated</h2>
<% end %>
<p>Hashed ID: <%= @user.hashed_id %></p>
<p>Email: <%= @user.email %></p>
<p>Activated: <img src="/images/icons/<% if @user.activated? %>green-check.png<% else %>red-x.png<% end %>" />  @ <%= @user.activated_at %></p>
<div class="box">
    <h2>Last Successful Login:</h2>
    <p>@ <b><%= @user.last_authenticated_at %></b> using IP <b><%= @user.last_authenticated_ip %></b></p>
</div>
<br />
<div class="box">
    <% if @user.failure > 0 %>
    <h2>Recent Failures: <%= @user.failure%></h2>
    <p>Last login failure @ <b><%= @user.last_failed_at %></b> using IP <b><%= @user.last_failed_ip %></b></p>
    <p><a href="/users/unfreeze/<%= @user.hashed_id %>">Unfreeze Account</a></p>
    <% else %>
    <h2>No Recent Login Failures</h2>
    <p>This user has had no unsuccessful login attempts since their last successful login</p>
    <% end %>
</div>
<br />
<div class="box">
    <h2>Roles</h2>
    <% @user.privileges.each do |privilege| %>
    <b><%= privilege.role.name %></b> &raquo; last updated on <%= privilege.updated_at %>, last modified by <%= privilege.modified_by_user.login %>
    <%end%>
</div>
<br />
<div class="box">
    <% if @user.recover_requested || !@user.recover_in_process_code.blank? %>
    <h2>Password Reset in Progress</h2>
    <p>A password reset was requested @ <%= @user.recover_requested_at %></p>
    <% else %>
    <h2>No password reset in progress</h2>
    <p>The user last requested to reset their password @ <%= @user.recover_requested_at %></p>
    <% end %>
</div>
<br />
<p>Created on <%= @user.created_at %></p>
<p>Last updated <%= @user.updated_at %></p>
<% if @user.deactivated? %>
<p>Deactivated @ <%= @user.deactivated_at %></p>
<% end %>
</div>
