<h1>New experiment</h1>

<% form_for(@experiment) do |f| %>
  <%= f.error_messages %>
  <h3>Name</h3>
	<%= f.text_field :name, :size => 40 %>
	<h3>Description:</h3>
	<%= f.text_area:desc, :size => 40 %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', experiments_path %>