<h2>Experiment Signup Notice</h2>
<p><b>Experiment:</b> <a href="<%= url_for(:controller => :experiments, :action => :show, :id => @experiment.hashed_id, :protocol => 'https', :only_path => false) %>" ><%= @experiment.name %></a></p>
<p><b>Participant:</b> <%= @participant.name %></p>
<p><b>Slot:</b> <a href="<%= url_for(:controller => :slots, :action => :show, :id => @slot.hashed_id, :protocol => 'https', :only_path => false) %>" ><%= @slot.human_datetime %></a></p>
<p><b>Location:</b> <a href="<%= @experiment.location.url %>"><%= @experiment.location.human_location %></a></p>