<% if @experiment != nil %>
<h1>Signup Confirmation</h1>
<h2><%= @subject.name %>, you are confirmed for <%= @slot.human_time %></h2>

<p>An email has been sent to <%= @subject.email %> with a copy of this information.</p>

<h2>Time</h2>
<p>You are signed up for an experiment at <b><%= @slot.human_time %></b></p>
<p>The experiment will last approximately <%= @experiment.human_time_length %><% if @experiment.compensation > 0 %> and you will be compensated $<%= @experiment.compensation %><%else%>, no compensation is provided<%end%> for your participation.</p>

<h2>Location: <a href="<%= @experiment.location.url %>"><%= @experiment.location.human_location %></a></h2>
<p><%= @experiment.location.directions %></p>

<b>Experiment Contact</b>
<p>Please contact <%= @experiment.user.name %> at <a href="mailto:<%= @experiment.user.email %>"><%= @experiment.user.email %></a> or <%= number_to_phone(@experiment.user.phone) %> if you have any questions.</p>
<% else %>
<h1>Confirmation not found</h1>
<p>We're sorry, but we could not find your confirmation.</p>
<p>This could be because the experiment was cancelled, or we did not record your information.</p><i></i>
<% end %>