<h2><%= @participant.name %>, you are confirmed for <%= @slot.human_time %></h2>

<h2>Time</h2>
<p>You are signed up for an experiment at <b><%= @slot.human_time %></b></p>
<p>The experiment will last approximately <%= @experiment.human_time_length %> and you will be compensated $<%= @experiment.compensation %> for your participation.</p>

<h2>Location: <a href="http://whereis.mit.edu/?selection=<%= @experiment.location.building %>&zoom=16">Building <%= @experiment.location.building %>-<%= @experiment.location.room %></a></h2>
<p><%= @experiment.location.instructions %></p>

<b>Experiment Contact</b>
<p>Please contact <%= @experiment.user.name %> at <a href="mailto:<%= @experiment.user.email %>"><%= @experiment.user.email %></a> or <%= @experiment.user.phone %> if you have any questions.</p>


