<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Humans & Automation Lab Experiment Signup : <%= controller.action_name %></title>
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag 'scaffold' %>
		<%= calendar_date_select_includes "red"  %>
	</head>
	<body>
		  <%= yield %>
	</body>
</html>
